.square {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.square:hover {
    transform: rotate(360deg);
}

.square::after {
    content: 'Click!';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.square:hover::after {
    opacity: 1;
    visibility: visible;
}

.red {
    background-color: red;
}

.link {
    text-decoration: none;
    display: inline-block;
}
